@font-face {
  font-family: WildHazelnut;
  src: url(WildHazelnut.ttf);
}

.Post {
  font-family: 'WildHazelnut';
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}
  
.Post figure,
h5 {
  font-family: 'WildHazelnut';
  margin: 0 0;
}

.Title {
  font-size: 200%;
}

.Title:hover {
  color: orangered;
}

.Cat {
  color: orangered;
}

.OnHover:hover {
  color: orangered;
  text-decoration: none;
}

.OnHover {
  color: orangered
}
