@font-face {
    font-family: WildHazelnut;
    src: url(WildHazelnut.ttf);
}

.Container {
    font-family: 'WildHazelnut';
    min-height: 343px;
}

.FormAlignment {
    font-family: 'WildHazelnut';
    text-align: center;
}

.FormAlignment h2 {
    font-family: 'WildHazelnut';
    text-transform: uppercase;
}

.RowSpacing {
    justify-content: space-evenly;
}