@font-face {
  font-family: WildHazelnut;
  src: url(WildHazelnut.ttf);
}

.Container {
  font-family: 'WildHazelnut';
  border-bottom: 1px solid #000000;
}

.Username h2,
.Username p {
  font-family: 'WildHazelnut';
  color: black; 
}

.Username h2 {
  font-family: 'WildHazelnut';
  font-size: 150%;
  text-transform: uppercase;
}

.Username:hover {
  text-decoration: none;
  font-family: 'WildHazelnut';
}

.OnHover:hover {
  font-family: 'WildHazelnut';
  color: orangered;
  text-decoration: none;
}

.TopRow {
  font-family: 'WildHazelnut';
  justify-content: space-between;
}

.Content h2 {
  font-family: 'WildHazelnut';
  text-transform: uppercase;
}

.Content img {
  width: 100%;
}
