.Container {
  border-bottom: 1px solid #000000;
}

.Username h2,
.Username p {
color: black; 
}

.Username h2 {
font-size: 150%;
text-transform: uppercase;
}

.Username:hover {
text-decoration: none;
}

.OnHover:hover {
color: teal;
text-decoration: none;
}

.TopRow {
justify-content: space-between;
}

.Content h2 {
  text-transform: uppercase;
}

.Content img {
  width: 100%;
}
