@font-face {
  font-family: WildHazelnut;
  src: url(WildHazelnut.ttf);
}

.Owner {
  font-family: 'WildHazelnut';
    font-weight: bold;
    color: orangered;
    margin-right: 8px;
  }
  
  .Date {
    font-weight: lighter;
    color: #c1c1c5;
  }