@font-face {
  font-family: WildHazelnut;
  src: url(WildHazelnut.ttf);
}

.Form {
  font-family: 'WildHazelnut';
  border: none;
  border-bottom: 2px darkorange solid;
}
  
.Button {
  font-family: 'WildHazelnut';
  border: none;
  background-color: #242a3d;
  color: white;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}
  
.Button:hover {
  font-family: 'WildHazelnut';
  cursor: pointer;
  background-color: white;
  color: #242a3d;
}