.Container {
    border-bottom: 1px solid #000000;
}

.Container h2 {
    text-transform: uppercase;
}

.OnHover {
    color: #000000;
}

.OnHover:hover {
    color: teal;
    text-decoration: none;
}