@font-face {
    font-family: WildHazelnut;
    src: url(WildHazelnut.ttf);
  }

.Container {
    border-bottom: 1px solid #000000;
}

.Container h2 {
    text-transform: uppercase;
}

.OnHover {
    color: #000000;
}

.OnHover:hover {
    color: orangered;
    text-decoration: none;
}