.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 4px;
  font-size: 100%;
}

.NavLink:hover{
  color: teal;
  text-decoration: none;
}

.Active{
  color: teal;
}

.Active i{
  color: teal;
}
