@font-face {
  font-family: WildHazelnut;
  src: url(WildHazelnut.ttf);
}

.Container {
  font-family: 'WildHazelnut';
  min-height: 343px;
}

h2 {
  font-family: 'WildHazelnut';
  text-align: center;
}

div {
  font-family: 'WildHazelnut';
}

.RowSpacing {
  justify-content: space-evenly;
}